html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    transition-timing-function: cubic-bezier(0.600 , -0.280 , 0.735, 0.45);
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}