html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    transition-timing-function: cubic-bezier(0.600 , -0.280 , 0.735, 0.45);
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
:root{
    --base-color : rgb( 254 , 100 , 64 );
    --base-color-active : rgb( 207 , 47 , 77 );
    --black-text : rgb( 36 , 36 ,36 );
    --grey-text : rgb( 63 , 63 , 63 );
}
body{
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb( 7 , 44 , 84 );
    color: var(--black-text);
}
.app__container{
    display: grid;
    grid-template-rows: 200px auto;
    margin: 0 auto;
    max-width: 580px;
    height: 100vh;
    padding: 0 10px;
    gap: 20px;
}
.app__container-top{
    align-self: flex-end;
}
.app__container-bottom{

}
.location-forms{
    position: relative;
}
.location-forms__input{
    border:none;
    display: block;
    outline: none;
    width: 100%;
    height: 64px;
    background-color: white;
    padding: 10px 30px;
    padding-right: 86px;
    border-radius: 34px;
    text-transform: uppercase;
    font-size: 18px;
    transition: box-shadow .3s;
}
.location-forms__input:focus{
    box-shadow: 0px 0px 0px 3px rgb(0,0,0,.2);
}
.location-forms__btn{
    position: absolute;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 58px;
    height: 58px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 32px;
    padding: 0;
      opacity: 0;
     visibility: hidden;
     will-change:opacity,background-color ; 
    transition: opacity .3s,visibility .3s,background-color .3s;
}
.location-forms__btn:hover{
  background-color: var(--base-color);
}
.location-forms__btn:active{
  background-color: var(--base-color-active);
}
.location-forms__btn:focus{
  outline: none;
}
.location-forms__icon{
    position: absolute;
    top: calc(50% - 10px) ;
    left: calc(50% - 10px) ;
}
.location-forms__icon rect{
    transition: fill .3s;
}
.location-forms__icon circle{
    transition: stroke .3s;
}
.location-forms__btn:hover .location-forms__icon rect{
  fill: white;
}
.location-forms__btn:hover .location-forms__icon circle{
    stroke: white;
}
.location-forms__btn:active  .location-forms__icon rect{
    fill: white;
}
.location-forms__btn:active  .location-forms__icon circle{
    stroke: white;
}
.location-forms__input:valid + .location-forms__btn{
    opacity: 1;
    visibility: visible;
}