html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    transition-timing-function: cubic-bezier(0.600 , -0.280 , 0.735, 0.45);
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
:root{
    --base-color : rgb( 254 , 100 , 64 );
    --base-color-active : rgb( 207 , 47 , 77 );
    --black-text : rgb( 36 , 36 ,36 );
    --grey-text : rgb( 63 , 63 , 63 );
}
body{
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb( 7 , 44 , 84 );
    color: var(--black-text);
}
.app__container{
    display: grid;
    grid-template-rows: 200px auto;
    margin: 0 auto;
    max-width: 580px;
    height: 100vh;
    padding: 0 10px;
    gap: 20px;
    transition: grid-template-rows .4s;
}
.app__container.app__container_top {
    grid-template-rows: 84px auto;
}
.app__container-top{
    align-self: flex-end;
}
.location-form{
    position: relative;
}
.location-form__input{
    border:none;
    display: block;
    outline: none;
    width: 100%;
    height: 64px;
    background-color: white;
    padding: 10px 30px;
    padding-right: 86px;
    border-radius: 34px;
    text-transform: uppercase;
    font-size: 18px;
    transition: box-shadow .3s;
}
.location-form__input:focus{
    box-shadow: 0px 0px 0px 3px rgb(0,0,0,.2);
}
.location-form__btn{
    position: absolute;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 58px;
    height: 58px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 32px;
    padding: 0;
      opacity: 0;
     visibility: hidden;
     will-change:opacity,background-color ; 
    transition: opacity .3s,visibility .3s,background-color .3s;
}
.location-form__btn:hover{
  background-color: var(--base-color);
}
.location-form__btn:active{
  background-color: var(--base-color-active);
}
.location-form__btn:focus{
  outline: none;
}
.location-form__icon{
    position: absolute;
    top: calc(50% - 10px) ;
    left: calc(50% - 10px) ;
}
.location-form__icon rect{
    transition: fill .3s;
}
.location-form__icon circle{
    transition: stroke .3s;
}
.location-form__btn:hover .location-form__icon rect{
  fill: white;
}
.location-form__btn:hover .location-form__icon circle{
    stroke: white;
}
.location-form__btn:active  .location-form__icon rect{
    fill: white;
}
.location-form__btn:active  .location-form__icon circle{
    stroke: white;
}
.location-form__input:valid+.location-form__btn{
    opacity: 1;
    visibility: visible;
}
.card {
    background-color: white;
    border-radius: 28px;
    transition: box-shadow .4s, .4s width, height .4s, animation .4s, background-color .4s, backdrop-filter .4s, color .4s;
    will-change: width, height, transform, filter, backdrop-filter;
     width: 0px; 
    height: 0px; 
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
     transform: scale(0); 
}
.card__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
     opacity: 0; 
    transition: opacity .4s, transform .4s;
     transform: scale(0); 
    will-change: opacity, transform;
    height: 100%;
}
.card__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card__head-left {
    display: flex;
    gap: 10px;
    align-items: center;
}
.card__icon {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url();
    transition: width .4s, height .4s, background-image .4s;
    will-change: width, height, background-image;
}

.card__title {
    font-size: 18px;
    margin: 0;
    max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: transform .4s;
    transform: translateY(-12px);
    will-change: transform;
}

.card__desc {
    position: absolute;
    display: block;
    opacity: 0.6;
    transform: translateY(-10px);
    will-change: opacity;
    transition: opacity .4s, visibility .2s;
}

 .card-param {
    display: flex;
    align-items: center;
    gap: 10px;
} 

.card-param__icon {
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    transition: fill .4s;
}

.card-param-icon_footer {
    width: 26px;
    height: 26px;
}

.card-param-text {
    font-size: 28px;
}

.card-param-text_footer {
    font-size: 24px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    transition: opacity .4s;
    will-change: opacity;
    overflow: hidden;
    opacity: 0;
}

.card-param-icon_footer {
    width: 26px;
    height: 26px;
}

.card-param-text_footer {
    font-size: 24px;
}


/* Загружается */

.card.loading {
    width: 30px;
    height: 30px;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}

.card.full {
    width: 100%;
    height: 170px;
    animation: none;
    transform: scale(1);
}

.card.full .card__inner {
    opacity: 1;
    transform: scale(1);
}

.card.full .card__footer {
    opacity: 0.6;
}


/* Стандартная */

.card.glass {
    background-color: rgba(102, 102, 102, 0.25);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(8px);
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    color: white;
    height: 80px;
    width: 100%;
}

.card.glass .card-param__icon {
    fill: white;
}

.card.glass .card__inner {
    opacity: 1;
    transform: scale(1);
}

.card.glass .card__title {
    transform: none;
}

.card.glass .card__desc {
    opacity: 0;
    visibility: hidden;
}

.card.glass .card__icon {
    width: 42px;
    height: 42px;
    filter: grayscale(1);
}

.card.glass .card-param-icon {
    fill: white;
}

.card.glass:hover {
    height: 170px;
    background-color: rgba(33, 33, 33, 0.3);
}

.card.glass:hover .card__title {
    transform: translateY(-12px);
}

.card.glass:hover .card__icon {
    width: 80px;
    height: 80px;
}

.card.glass:hover .card__desc {
    opacity: 1;
    visibility: visible;
}

.card.glass:hover .card__footer {
    opacity: 0.6;
}
@media(max-width: 430px){
  .card-param{
    gap: 1px;
  }
  .card-param-text{
    font-size: 22px;
  }
}